<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Bozgold Pay</title>

    <script src="../../js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="../../js/payeezy_us_v5.2.js" type="text/javascript"></script>

    <script type="text/javascript">
        var responseHandler = function (status, response) {
            if (status != 201) {
                if (response.error && status != 400) {
                    var error = response["error"];
                    var errormsg = error["messages"];
                    var errorcode = JSON.stringify(errormsg[0].code, null, 4);
                    var errorMessages = JSON.stringify(errormsg[0].description, null, 4);
                    console.log('Error Code:' + errorcode + ', Error Messages:' + errorMessages);
                }
                if (status == 400 || status == 500) {
                    var errormsg = response.Error.messages;
                    var errorMessages = "";
                    for (var i in errormsg) {
                        var ecode = errormsg[i].code;
                        var eMessage = errormsg[i].description;
                        errorMessages = errorMessages + 'Error Code:' + ecode + ', Error Messages:'
                            + eMessage;
                    }
                    console.log(errorMessages);
                }
            } else {
                $.ajax({
                    type: "POST",
                    url: "/payeezy/pay",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify({
                        token_value: response.token.value,
                        amount: $("#amount").val(),
                        currency: $("#currency").val(),
                        card_type: $("#card_type").val(),
                        cardholder_name:$("#cardholder_name").val(),
                        exp_date: $("#exp_month").val() + $("#exp_year").val()
                    }),
                    success: function(data){
                        console.log(data);
                    },
                    failure: function(errMsg) {
                        console.log(errMsg);
                    }
                });
            }
        };

        jQuery(function ($) {
            $('#payment-info-form').submit(function (e) {
                Payeezy.setApiKey($("#apikey").val());
                Payeezy.setJs_Security_Key($("#js_security_key").val());
                Payeezy.setTa_token($("#ta_token").val());
                Payeezy.setAuth($("#auth").val());
                Payeezy.setCurrency(currency);
                Payeezy.createToken(responseHandler);
                return false;
            });
        });
    </script>
</head>
<body>
<br/>

<form method="post" name="payment-info-form" id="payment-info-form">
    <input type="hidden" name="apikey" id="apikey" th:value="${@environment.getProperty('apikey')}"/>
    <input type="hidden" name="apisecret" id="apisecret" th:value="${@environment.getProperty('pzsecret')}"/>
    <input type="hidden" name="js_security_key" id="js_security_key" th:value="${@environment.getProperty('js_security_key')}"/>
    <input type="hidden" name="token" id="token" th:value="${@environment.getProperty('token')}"/>
    <input type="hidden" name="auth" id="auth" payeezy-data="auth" value="true"/>
    <input type="hidden" name="ta_token" id="ta_token" payeezy-data="ta_token" th:value="${@environment.getProperty('ta_token')}"/>
    <input type="hidden" name="currency" id="currency" payeezy-data="currency" th:value="${@environment.getProperty('currency')}"/></td>
    <table>
        <tr>
            <td align="right">Card Type :</td>
            <td><select payeezy-data="card_type" id="card_type">
                <option value="visa">Visa</option>
                <option value="mastercard">Master Card</option>
                <option value="American Express">American Express</option>
                <option value="discover">Discover</option>
            </select></td>
        </tr>
        <tr>
            <td align="right">Cardholder Name :</td>
            <td><input type="text" payeezy-data="cardholder_name"
                       id="cardholder_name" value="John Smith"/></td>
        </tr>
        <tr>
            <td align="right">Card Number :</td>
            <td><input type="text" payeezy-data="cc_number"
                       value="4788250000028291"/></td>
        </tr>
        <tr>
            <td align="right">CVV Code :</td>
            <td><input type="text" payeezy-data="cvv_code" value="123"/>
            </td>
        </tr>
        <tr>
            <td align="right">Expiry Date :</td>
            <td><select payeezy-data="exp_month" id="exp_month">
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10" selected>10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select> <select payeezy-data="exp_year" id="exp_year">
                <option value="16">2016</option>
                <option value="17">2017</option>
                <option value="18">2018</option>
                <option value="19">2019</option>
                <option value="20" selected>2020</option>
                <option value="21">2021</option>
            </select></td>
        </tr>
        <tr>
            <td align="right">Amount :</td>
            <td><input type="text" name="amount" id="amount" value="100"/></td>
        </tr>
    </table>

    <div>
        <table>
            <tr>
                <td>
                    <button type="submit">Pay</button>
                </td>
            </tr>
        </table>
    </div>
</form>
</body>

</html>